*{
    box-sizing: border-box;
}
    body{
    width: 1080px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: .5em;
}
.table{
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(18, 4em);
    grid-template-rows: minmax(50px, auto);
    gap: .24em;
}
.wrapper div.elem{
    border:2px solid rgb(128, 128, 128);
    padding: 0 .5em;
    
}
.elem{
    background-color: burlywood;
}
.elem h3{
    color: blue;
}
.grp1 p{
    display: inline-block;
    width: 64px;
}
.grp1{
    display: flex;
    justify-content: space-around;
}
.grp2 p{
    height: 67px;
    margin-bottom: .12em;
    padding-top: 24px;
}
p, h3{
    margin: 1px;
    text-align: center;
}
.empty1{
    grid-column: 2/18;
}
.empty2{
    grid-column-start: span 10;
}
.empty3{
    grid-column-start: span 18;
    height: 20px;
}
.empty4{
    grid-column-start: span 2;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
.empty4 p:last-child{
    margin-left: 50px;
}
.blue{
    background-color: rgb(104, 155, 255);
}
.pink{
    background-color: rgb(253, 154, 153);
}
.yellow{
    background-color: rgb(254, 203, 0)
}
.green{
    background-color: rgb(31, 202, 33);
}
.textRed{
    color:red;
}